@model IEnumerable<TransactionModel>
@{
    ViewData["Title"] = "Transactions";
}
@await Html.PartialAsync("_BalancePartial")
@if(Model.Count() == 0)
{
    <h1 class="text-center">No transaction history!</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CurrencyCode)
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>
                    @transaction.DateTime
                </td>
                <td>
                    @transaction.TransactionType
                </td>
                <td>
                    @transaction.Amount
                </td>
                <td>
                    @transaction.CurrencyCode
                </td>
            </tr>
        }
        </tbody>
    </table>
}