@model IEnumerable<BetViewModel>
@{
    ViewData["Title"] = "Bets";
}

@await Html.PartialAsync("_BalancePartial")
@if(Model.Count() == 0)
{
    <h1 class="text-center">No bets found!</h1>
}
else
{
    <div class="container text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th scope="col">
                        Number of games
                    </th>
                    <th scope="col">
                        Bet Rate
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CurrencyCode)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Closed)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.WinAmount)
                    </th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var bet in Model)
                {
                    <tr>
                        <td>
                            @bet.DateTime
                        </td>
                        <td>
                            @bet.GamesCount
                        </td>
                        <td>
                            @bet.BetRate
                        </td>
                        <td>
                            @bet.Amount
                        </td>
                        <td>
                            @bet.CurrencyCode
                        </td>
                        <td>
                            @bet.Closed
                        </td>
                        <td>
                            @bet.WinAmount
                        </td>
                        <td>
                            <a id="@bet.Id" class="Details" href="javascript:;">Details</a>
                        </td>
                    </tr>
                }
        </table>
        <div id="partialModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Bet Details</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function() {
        $(".Details").click(function() {
            $.ajax({
                type: "GET",
                url: "/Bet/GetBetDetails",
                data: { betId: this.id },
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        })
    })
</script>