@model IEnumerable<BetViewModel>
@if(Model.Count() == 0)
{
    <h1>No bets found!</h1>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                @Html.DisplayNameFor(model => model.DateTime)
            </div>
            <div class="col-md-7">
                Number of games
            </div>
            <div class="col-md-7">
                Bet Rate
            </div>
            <div class="col-md-7">
                @Html.DisplayNameFor(model => model.Amount)
            </div>
            <div class="col-md-7">
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </div>
            <div class="col-md-7">
                @Html.DisplayNameFor(model => model.Closed)
            </div>
            <div class="col-md-7">
                @Html.DisplayNameFor(model => model.WinAmount)
            </div>
        </div>
        @foreach(var bet in Model)
        {
            <div class="row game">
                <div class="col-md-6">
                    @bet.DateTime
                </div>
                <div class="col">
                    @bet.GameBets.Count() Games
                </div>
                <div class="col">
                    @bet.GameBets.Select(gb => gb.BetRate).Aggregate((a,b) => a * b)
                </div>
                <div class="col-md-6">
                    @bet.Amount
                </div>
                <div class="col-md-6">
                    @bet.CurrencyCode
                </div>
                <div class="col-md-6">
                    @bet.Closed
                </div>
                <div class="col-md-6">
                    @bet.WinAmount
                </div>
                <div class="container gamebet" hidden="hidden">
                    <div class="row">
                        <div class="col-md-4">
                            Home Team
                        </div>
                        <div class="col-md-4">
                            Away Team
                        </div>
                        <div class="col-md-4">
                            Prediction
                        </div>
                        <div class="col-md-4">
                            Bet Rate
                        </div>
                    </div>
                    @foreach (var gameBet in bet.GameBets)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    @gameBet.HomeTeam
                                </div>
                                <div class="col-md-4">
                                    @gameBet.AwayTeam
                                </div>
                                <div class="col-md-4">
                                    @gameBet.Prediction
                                </div>
                                <div class="col-md-4">
                                    @gameBet.BetRate
                                </div>
                            </div>
                        }
                </div>
            </div>
        }
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".game").click(function() {
            $(this).children(".gamebet").toggle("slow")
        }
    })
</script>