@model BetQueryModel

@if (Model.GameBets.Count() > 0)
{
    <div>
        <input id="betsCount" class="btn btn-primary" type="submit" onclick="showBets()" value="Bets: @Model.GameBets.Count()" style="width:100%">
    </div>

        <div id="betsTable" style="background-color:#f7f5ff" ; width: 50%; margin: 0 auto; display: block; text-align: center" hidden="hidden">
            <div style="color:black; right: 30%; position:fixed">
                <input type="submit" class="btn btn-primary" onclick="hideBets()" value="X">
            </div>
            <table class="table" width="90%">
                <thead>
                    <tr>
                        <th scope="col">Home</th>
                        <th scope="col">Away</th>
                        <th scope="col">Bet Rate</th>
                        <th scope="col">Prediction</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gameBet in Model.GameBets)
                    {
                        <tr>
                            <td class="text-center">
                                @gameBet.HomeTeam
                            </td>
                            <td class="text-center">
                                @gameBet.AwayTeam
                            </td>
                            <td class="text-center">
                                @gameBet.BetRate
                            </td>
                            <td class="text-center">
                                @gameBet.Prediction
                            </td>
                            <td>
                                <input id="@gameBet.GameId" class="RemoveBet" type="button" value="Remove">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Total Bet Rate: 
                    </div>
                    <div class="col-sm">
                        @Model.GameBets.Select(gb => gb.BetRate).Aggregate((a,b) => a*b).ToString("0.00")
                    </div>
                </div>
                
                 <form asp-controller="Bet" asp-action="PlaceBet">
                    <div class="row">
                        <div class="col-sm">
                            <label asp-for="Amount"></label>
                        </div>
                        <div class="col-sm">
                            <input asp-for="Amount" class="form-control">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" class="match-bet-place" value="Place Bet" />
                    </div>
                </form>
            </div>
        </div>
}


<script type="text/javascript">
    $(function() {
        $(".RemoveBet").click(function () {
            removeMarker(this.id);
            $.ajax({
                type: "DELETE",
                url: "/GameBet/Remove",
                data: { gameId: this.id },
                dataType: "html",
                success: function (response) {
                    $('#betGrid').html(response);
                    $('#betsTable').removeAttr("hidden");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            })
        })
    });
</script>