@model GameViewModel
	<div class="container">
		<div class="match">
			<div class="match-header">
				
				@if(Model.Date > DateTime.Now)
				{
					<div class="match-status">Upcoming</div>
				}
				else
				{
					<div class="match-status">Finished</div>
				}
				
				<div class="match-tournament">
					@if (Model.Competition.ImageUrl != null)
					{
						<img src="@Model.Competition.ImageUrl" />
					}
				<a asp-area="" asp-controller="Competition" asp-action="Standings" asp-route-id="@Model.Competition.Id">@Model.Competition.Name</a>
				</div>
				<div class="match-actions">
				
				</div>
			</div>
			<div class="match-content">
				<div class="column">
					<a asp-action="Details" asp-controller="Team" asp-route-id="@Model.HomeTeam.Id">
						<div class="team team--home">
							<div class="team-logo">
								@if(Model.HomeTeam.ImageUrl != null)
								{
									<img src="@Model.HomeTeam.ImageUrl" />
								}
							</div>
							<h2 class="team-name">@Model.HomeTeam.Name</h2>
						</div>
					</a>
					
					@if ((User?.IsInRole("Bookmaker") ?? false) || (User?.IsInRole("Administrator") ?? false))
					{
						<button class="match-edit">
							<a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Game" asp-area="Bookmaker">
								Edit
							</a>
						</button>
					}
				</div>
				<div class="column">
					<div class="match-details">
						<div class="match-date">
							@Model.Date
						</div>
						@if (Model.Date > DateTime.Now)
						{
							@if(User?.Identity?.IsAuthenticated ?? false)
							{
								<div class="match-bet-options">
									<button class="match-bet-option home-bet" data-gameid="@Model.Id" data-prediction="1">@Model.HomeRate</button>
									<button class="match-bet-option draw-bet" data-gameid="@Model.Id" data-prediction="X"> @Model.DrawRate</button>
									<button class="match-bet-option away-bet" data-gameid="@Model.Id" data-prediction="2">@Model.AwayRate</button>
								</div>
							}
						}
						else
						{
							<div class="match-result">
								<h1 class="score">@Model.HomeGoals : @Model.AwayGoals</h1>
							</div>
						}
						@if(User?.Identity?.IsAuthenticated ?? false)
						{
							<a class="game-details" asp-action="Details" asp-controller="Game" asp-route-id="@Model.Id">
								Details
							</a>
						}
					</div>
				</div>
				<div class="column">
					<a asp-action="Details" asp-controller="Team" asp-route-id="@Model.AwayTeam.Id">
						<div class="team team--away">
							<div class="team-logo">
								@if (Model.AwayTeam.ImageUrl != null)
								{
									<img src="@Model.AwayTeam.ImageUrl" />
								}
						</div>
							<h2 class="team-name"> @Model.AwayTeam.Name</h2>
						</div>
					</a>
					@if((User?.IsInRole("Bookmaker") ?? false) || (User?.IsInRole("Administrator") ?? false))
					{
						<button class="match-delete">
							<a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Game" asp-area="Bookmaker">
								Delete
							</a>
						</button>
					}
				</div>
			</div>
		</div>
	</div>