@model GameFormModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class="form-control">
                    @foreach (var competition in Model.Competitions)
                    {
                        <option value="@competition.Id">@competition.Name</option>
                    }
                </select>
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label"></label>
                <select asp-for="HomeTeamId" class="form-control">
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select>
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamId" class="control-label"></label>
                <select asp-for="AwayTeamId" class="form-control">
                    @foreach(var team in Model.Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select>
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeRate" class="control-label"></label>
                <input asp-for="HomeRate" class="form-control" />
                <span asp-validation-for="HomeRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrawRate" class="control-label"></label>
                <input asp-for="DrawRate" class="form-control" />
                <span asp-validation-for="DrawRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayRate" class="control-label"></label>
                <input asp-for="AwayRate" class="form-control" />
                <span asp-validation-for="AwayRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamGoals" class="control-label"></label>
                <input asp-for="HomeTeamGoals" class="form-control" />
                <span asp-validation-for="HomeTeamGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamGoals" class="control-label"></label>
                <input asp-for="AwayTeamGoals" class="form-control" />
                <span asp-validation-for="AwayTeamGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreSign" class="control-label"></label>
                <select asp-for="ScoreSign" class="form-control" asp-items="Html.GetEnumSelectList<ScoreSign>()"></select>
                <span asp-validation-for="ScoreSign" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Finished" /> @Html.DisplayNameFor(model => model.Finished)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>d
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
