@model IEnumerable<CountryModel>

@{
    ViewBag.Title = "All Countries";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<a class="btn btn-primary text-center" asp-controller="Country" asp-action="Add">Create New</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Name</label></th>
            <th><label>Flag</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td><label>@country.Name</label></td>
                <td><img src="@country.ImageUrl" width="100" height="50" /></td>
                <td><a asp-controller="Country" asp-action="Edit" asp-route-id="@country.Id" class="btn btn-primary">Edit</a></td>
                <td><a asp-controller="Country" asp-action="Delete" asp-route-id="@country.Id" class="btn btn-primary">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
