@model IEnumerable<GameListModel>

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayRate)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Game" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-controller="Game" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
