@model IEnumerable<TransactionModel>

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var transactaion in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => transactaion.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transactaion.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transactaion.CurrencyCode)
            </td>
        </tr>
}
    </tbody>
</table>
