@model IEnumerable<EmployeeViewModel>

@{
    ViewBag.Title = "All Employees";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<a class="btn btn-primary text-center" asp-controller="Employee" asp-action="Add">Create New</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>First Name</label></th>
            <th><label>Last Name</label></th>
            <th><label>Country</label></th>
            <th><label>Team</label></th>
            <th><label>Image</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td><label>@employee.FirstName</label></td>
                <td><label>@employee.LastName</label></td>
                <td><label>@employee.Country</label></td>
                <td><label>@employee.Team</label></td>
                <td><img src="@employee.ImageUrl" height="100" width="100" /></td>
                <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a></td>
                <td><a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-primary">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
